.idea/
ModernSoftwareEngineeringPractices/exercises/
ModernSoftwareEngineeringPractices/HSE-ModernSoftwareEngineeringPractices/
SeparateRepoForPythonForDataEngineering/
mentorSeminar/my-fastapi-project/
ETL/